*, *:after, *:before {
  box-sizing: inherit;
}

.article {
  grid-area: content;
}

body {
  background: #fff;
  color: #333;
}

.form__button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
.form__button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.form__button:active {
	position:relative;
	top:1px;
}


.footer {
  box-sizing: border-box;
  left: 0;
  padding: 16px;
  padding-bottom: 0px;
  width: 100%;
}

.footer__about {
}

.footer__img {
  height: 16px;
  width: 16px;

}

.footer__link {
  position:fixed;
  bottom: 10px;
  right: 20px;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-areas: "header header header"
  "content . menu"
  "footer footer footer";
  grid-template-columns: [first] 1fr [second] 100px [last] 200px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.grid__item {
  background: #f2f2f2;
  grid-row-start: 1;
  grid-column-start: first;
  grid-row-end: 3;
  grid-column-end: last;
  z-index: -1;
}

.header {
  grid-area: header;
}

.header__item {
}

.header__main {
  background-color: #f2f2f2;
  box-sizing: border-box;
  left: 0;
  padding: 16px;
  padding-bottom: 0px;
  position: sticky;
  top: 0;
  width: 100%;
  /* z-index: 10; */
  min-height: 50px;
}


html {
  box-sizing: border-box;
}

.navigation {
  display: flex;
}

.navigation__button {
  border: none;
  background-color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navigation__element {
display: block;
margin: 0 16px;
}

.navigation__img {
  height: 60px;
  width: 60px;
  /* padding: 6px 0; */
}

.navigation__list {
list-style: none;
padding: 0;
display: flex;
justify-content: center;
align-items: right;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1fr)
}

.table__button {
  border: none;
  background-color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.table__body {
  display: contents;
}

.table__head {
  display: contents;
}


.table__row {
  display: contents;
}


thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}

.marcel {
  color: blue;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1fr)
}

.table__button {
  border: none;
  background-color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.table__body {
  display: contents;
}

.table__head {
  display: contents;
}


.table__row {
  display: contents;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}