{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<h4 class="mt-5 mb-5">You are updating data for: <i>{{ booking.user.name }}</i>.</h3>

<dl>
  <dt>Reservation's number:</dt>
  <dd>{{ booking.number }}</dd>
  <dt>Reservation's status:</dt>
  <dd>{{ booking.status }}</dd>
  <dt>Amount of persons:</dt>
  <dd>{{ booking.no_of_people }}</dd>
</dl>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="form__button" type="submit">Update</button>
  </form>
</div>
{% endblock %}